
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OdoNet Event</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/odonet.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
      <a class="navbar-brand" href="/">OdoNet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ event.node }} at {{ event.init_date }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">

        <main role="main" class="col-md-12">

          <br>
          <div class="main-event-img"><img src="/files/{{ '{}.gif'.format(event_name) }}" /></div>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Motion</th>
                  <th>Objects</th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
                {% for i, (date, image_data, motion, objects) in enumerate(event.images) %}
                <tr>
                  <td>{{ motion|round(2) }}</td>
                  <td>
                    {% for object in objects %}
                      <span class="badge badge-danger">{{ object.name }}</span>
                    {% endfor %}
                  </td>
                  <td><img class="event-frame" src="/files/{{ '{}_img_{}.jpg'.format(event_name, i) }}" /></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </main>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/odonet.js"></script>
    <script src="/js/event.page.js"></script>

  </body>
</html>
